body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    align-self: center; 
}

#toggleFormBtn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px; 
}

#taskForm {
    display: none;
    margin-bottom: 20px;
    width: 300px; 
}

#taskInput {
    padding: 10px;
    font-size: 16px;
    width: 100%; 
    margin-bottom: 10px; 
}

#taskForm button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;

}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    font-size: 16px;
}

th {
    background-color: #f8f9fa;
    color: #333;
}

#taskList tr td:last-child {
    text-align: center;
}

#taskList button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#taskList button:hover {
    background-color: #c82333;
}